
.search-expand--wrapper {


  transition: width var(--search-expand-view--duration) ease-out;
  /* Add a small delay before starting the transition to prevent hover flashing */
  transition-delay: var(--search-expand-hover-delay);

  >&--inner::before{
    transition: background-color var(--search-expand-view--duration) ease-out;
  }

  .search-expand--icon{
    transition: background-color var(--search-expand-view--duration) ease-out;
  }

  &:hover,
  &:focus-within {
    width: var(--search-expand-expand-w);
    /* Remove delay on hover to make it feel responsive */
    transition-delay: 0s;

    >.search-expand--wrapper--inner::before{
      background-color: var(--search-expand-color-wrapper-bg-hover);
    }
    .search-expand--icon{
      background-color: var(--search-expand-color-icon-hover);
    }
  }



}

.search-expand{

  // todo: move to separate file
  &.mode-view--absolute{


    .search-expand--wrapper {

    /* Wrapper stays fixed-size to avoid layout reflow loops. */
    transition: none;


    >&--inner{
      transition: max-width var(--search-expand-view--duration) ease-out;
      
      &::before {
        transition: background-color var(--search-expand-view--duration) ease-out;
      }
    }


    &:hover,
    &:focus-within {
      width: var(--search-expand-expand-w);

      > .search-expand--wrapper--inner {
        max-width: var(--search-expand-expand-w);
      }
    }
    }
  }
}




// -- the input
input.search-expand--input {
  transition: width var(--search-expand-view--duration) ease-out;

  .search-expand--wrapper:hover &,
  .search-expand--wrapper:focus-within & {
    width: 100%;
  }
}