@import "TOKENS";

:root {
  --search-expand-icon-size: 24px;
  --search-expand-wrapper-padding: 8px;
  --search-expand-input-font-size: 14px;
  --search-expand-color-icon: #fff;
  --search-expand-color-icon-hover: #dadada;
  --search-expand-color-wrapper-bg: #222;
  --search-expand-color-wrapper-bg-hover: var(--search-expand-color-wrapper-bg);
  --search-expand-color-text: #fff;
  --search-expand-expand-w: 180px;
  --search-expand-view--duration: 0.3s;
  /* Hover delay to prevent flashing on rapid mouse movement */
  --search-expand-hover-delay: 0.05s;


  /* sum of icon size + padding */
  --search-expand-total-size: calc(
    var(--search-expand-icon-size) + (2 * var(--search-expand-wrapper-padding))
  );
}


:host {
  display: inline-block;
  font-family: sans-serif;
}

.search-expand {

  &.inline-block {
    display: inline-block;
  }
}

.search-expand--wrapper {

  width: var(--search-expand-total-size);
  height: var(--search-expand-total-size);
  /* Prevent layout shifts during width changes */
  position: relative;
  display: inline-block;
  /* Optimize rendering during animation */
  will-change: width;
  backface-visibility: hidden;

  >&--inner {

    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--search-expand-wrapper-padding);
    overflow: hidden;
    cursor: pointer;
    height: 100%;

    /* Background on ::before so it maintains proper rounded shape */
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--search-expand-color-wrapper-bg);
      border-radius: 999px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }
  }



}


.search-expand {
  // todo: move to separate file
  &.mode-view--absolute {
    width: var(--search-expand-icon-size);
    height: var(--search-expand-icon-size);


    .search-expand--wrapper {


      position: relative;
      display: inline-block;


      >&--inner {

        box-sizing: border-box;

        /* Prevent hover/focus expansion from reflowing surrounding layout:
           keep wrapper fixed-size and animate this inner overlay instead. */
        position: absolute;
        top: 0;
        left: 0;
        width: var(--search-expand-expand-w);
        max-width: var(--search-expand-total-size);
      }
    }
  }
}
@import "style/view-animation";

.search-expand--icon {
  width: var(--search-expand-icon-size);
  height: var(--search-expand-icon-size);
  margin-right: 8px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  //background: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M464,428,339.92,303.9a160.48,160.48,0,0,0,30.72-94.58C370.64,120.37,298.27,48,209.32,48S48,120.37,48,209.32s72.37,161.32,161.32,161.32a160.48,160.48,0,0,0,94.58-30.72L428,464ZM209.32,319.69A110.38,110.38,0,1,1,319.69,209.32,110.5,110.5,0,0,1,209.32,319.69Z"/></svg>')
  //center/contain no-repeat;


  /* Color comes from background-color */
  background-color: var(--search-expand-color-icon);

  /* Use the SVG as mask */
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M464,428,339.92,303.9a160.48,160.48,0,0,0,30.72-94.58C370.64,120.37,298.27,48,209.32,48S48,120.37,48,209.32s72.37,161.32,161.32,161.32a160.48,160.48,0,0,0,94.58-30.72L428,464ZM209.32,319.69A110.38,110.38,0,1,1,319.69,209.32,110.5,110.5,0,0,1,209.32,319.69Z"/></svg>') center / contain no-repeat;
}


// -- the input
input.search-expand--input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: var(--search-expand-input-font-size);
  background: transparent;
  opacity: 1;
  width: 0;
  position: relative;
  z-index: 1;

  color: var(--search-expand-color-text);

}


// -- old